# Chặn các file rác và log
*.log
__pycache__/
.DS_Store

# Chặn file chứa password thật
inventory/hosts.yml

# Chặn file RAM ảo siêu nặng của GNS3 (Giữ lại khung sơ đồ)
Ansible-Backup-Lab/project-files/dynamips/*